include README.md LICENSE AUTHORS.md CITATION.cff CHANGELOG.md
recursive-include src *.py *.pyx py.typed
recursive-include tests *.py
recursive-include docs *.md *.png *.json
recursive-include examples *.py *.ipynb
recursive-include scripts *.py
recursive-include benchmarks *.py
prune research
prune build
prune dist
global-exclude *.so *.pyd *.o .DS_Store
